/*Adds black background color to top nav
.topNav{
    background-color: #333;
    overflow:hidden;
    padding: 0%;
}

Style the links in the top nav
.topNav a{
    float:left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

Change link color on hover
.topNav a:hover{
    background-color: #ddd;
    color:black;
}

/*active/current link highlight
.topNav a:active{
    background-color: #04aa6d;
    color:white;
}*/

body, html{
    height: 100%;
    margin: 0px;
    padding:0px;
    font-family: Arial, Helvetica, sans-serif;
}

/*color codes
purple #5a3b96
green #3b965a
orange? #965a3b
*/

:root{
    --purple: #5a3b96;
    --darkPurple: #36225d;
    --green: #3b965a;
    --orange: #965a3b;
    --gray: #313131;
    --ligherGray: #404040;
    --pagebackground: #414141;
}

.tablink{
    background-color:var(--gray);
    color:lightgray;
    float: left;
    border:none;
    outline:none;
    cursor: pointer;
    padding: 14px 16px;
    font-size:17px;
    width: 25%;
}

.Title{
    background-color:var(--darkPurple);
    color:var(--green);
    float: left;
    border:none;
    outline:none;
    text-align: center;
    padding: 14px 16px;
    font-size:30px;
    width: 25%;
}

.flip{
    width: 25%;
    float:left;
}

.flip::after{
    display: none;
}
.flip:hover:before{
    opacity: 0;
    transform: translateY(-50%) rotateX(90deg);
}

.flip:before{
    top: 0;
    left: 0;
    padding: 0px;
    opacity: 1;
    width: 100%;
    color: var(--green);
    display: block;
    transition: 0.5s;
    position: relative;
    background: var(--darkPurple);
    content: "Kurtis's Portfolio";
    align-content: center;
    transform: translateY(0) rotateX(0);
}

.tablink:hover{
    background-color:var(--purple);
}

.tabcontent{
    color:whitesmoke;
    display:none;
    padding: 100px 20px;
    height:100%
}

/*Accordion stuff*/
.accordion{
    background-color: var(--gray);
    color:whitesmoke;
    cursor:pointer;
    padding:10px;
    width: 100%;
    border: none;
    text-align: center;
    outline:none;
    font-size: 20px;
    transition:0.4s;
}
.accordion:hover{
    background-color: var(--purple);
}
.active{
    background-color: var(--darkPurple);
}

.accordionPanel{
    padding: 0px;
    background-color: var(--pagebackground);
    display: none;
    overflow:hidden;
}

/* Side by side images */
.column{
    float:left;
    width:25%;
    padding:5px;
}

.row::after{
    content:"";
    clear:both;
    display:table;
}

*{box-sizing: border-box;}

/* SlideShow stuff */
.SlideshowContainer{
    max-width: 1000px;
    position:relative;
    margin:auto;
}

.Slideshow{
    display:none;
}

.prevSlide, .nextSlide{
    cursor:pointer;
    position:absolute;
    top:50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color:white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.nextSlide{
    right:0;
    border-radius: 3px 0 0 3px;
}

.prevSlide:hover, .nextSlide:hover{
    background-color: var(--darkPurple);
}

.SlideshowCaptionText{
    color: whitesmoke;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom:8px;
    width:100%;
    text-align: center;
}

.SlideNumberText{
    color: whitesmoke;
    font-weight: bold;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.SlideshowDot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--darkPurple);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.SlideshowDot:hover, .SlideshowActive{
    background-color: var(--purple);
}

.slideFade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name:fade;
    animation-duration: 1.5s;
}

.classDesc{
    color: whitesmoke;
}

@-webkit-keyframes fade{
    from{opacity: 0.4;}
    to{opacity: 1;}
}

@keyframes fade{
    from{opacity: 0.4;}
    to{opacity: 1;}
}

#Home{background-color: var(--pagebackground);}
#AboutMe{background-color: var(--pagebackground);}
#Projects{background-color: var(--pagebackground);}